
.icon{
    display: inline-block;
    margin-left: 20px;
}

.row-title{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.section-title{
    margin: 5px 0px;
    font-size: 18px;
}

.container{
    margin-top: 25px;
}

.section-row:hover{
    background-color: #424242;
}