<div class="container">
  <!-- <div *ngFor="let section of sections" class="section">
    <div class="section-title">{{section.title}}</div>
    <div class="section-row" *ngFor="let row of section.rows">
      <div class="icon">
        <i class="material-icons">{{row.icon}}</i>
      </div>
      <div class="row-title">
        {{row.title}}
      </div>
    </div>
  </div> -->

  <div class="section">
    <div class="section-title">Edit</div>
      <div class="section-row">
      <div class="icon">
          <i (click)="undoPopUp()" class="material-icons" >undo</i>
      </div>
      <div class="row-title">
        Undo
      </div>
      </div>
      <div class="section-row">
      <div class="icon">
          <i class="material-icons" (click)="undoPopUp()">redo</i>
      </div>
      <div class="row-title">
        ReDo
      </div>
      <br>
    </div>


    <div class="section-title">Tools</div>
      <div class="section-row">
      <span class="tooltiptext">A tool to select videos and drag them around</span>
      <div class="icon">
          <i class="material-icons" (click)="undoPopUp()">mouse</i>
      </div>
      <div class="row-title">
        Select
      </div>
    </div>
    <div class="section-row">
        <span class="tooltiptext">A tool to used to trim the length of the video</span>        
      <div class="icon">
          <i class="material-icons" (click)="undoPopUp()">content_cut</i>
      </div>
      <div class="row-title">
        Trim
      </div>
    </div>
    <div class="section-row">
        <span class="tooltiptext">A tool that takes a snapshot of the current frame</span>     
      <div class="icon">
          <i class="material-icons" (click)="undoPopUp()">camera_alt</i>
      </div>
      <div class="row-title">
        Snapshot
      </div>
    </div>

    <div class="section-title">Transitions</div>
    <div class="section-row">
        <span class="tooltiptext">Add a slide transition between video clips</span>     
    <div class="icon">
        <i class="material-icons" (click)="undoPopUp()">slideshow</i>
    </div>
    <div class="row-title">
      Slide In
    </div>
  </div>

  <div class="section-row">
      <span class="tooltiptext">Zoom into the first clip and zoom back out into the second clip</span>     
    <div class="icon">
        <i class="material-icons" (click)="undoPopUp()">slideshow</i>
    </div>
    <div class="row-title">
      Zoon Im
    </div>
  </div>

  <div class="section-row">
      <span class="tooltiptext">Fade out of the old clip and fade into the new clip</span>     
    <div class="icon">
        <i class="material-icons" (click)="undoPopUp()">slideshow</i>
    </div>
    <div class="row-title">
      Fade In
    </div>
  </div>

    <div class="section-title">Filters</div>
    <div class="section-row">
    <span class="tooltiptext">Make the current clip black and white</span>  
    <div class="icon">
        <i class="material-icons" (click)="undoPopUp()">format_color_fill</i>
    </div>
    <div class="row-title">
      Black and White
    </div>
  </div>

  <div class="section-row">
    <span class="tooltiptext">Add a tint to the current clip</span>  
    <div class="icon">
        <i class="material-icons" (click)="undoPopUp()">format_color_fill</i>
    </div>
    <div class="row-title">
      Color Tint
    </div>
  </div>

  <div class="section-row">
    <div class="icon">
        <i class="material-icons" (click)="undoPopUp()">format_color_fill</i>
    </div>
    <div class="row-title">
      Gaussian Blur
    </div>
  </div>


  </div>
</div>
